.status-with-reason[data-v-7f165bbf]{display:flex;align-items:center;gap:12px}.reason-tooltip[data-v-7f165bbf] .kong-icon{display:flex;align-items:center}.summary-title-wrapper[data-v-b90b45fd]{display:flex;align-items:baseline;gap:6px;margin-right:30px}.summary-title[data-v-b90b45fd]{margin-top:0}
