.details-link[data-v-9d462982]{display:inline-flex;align-items:center;gap:4px}.actions-dropdown[data-v-9d462982]{display:inline-block}.warning-type-memory[data-v-9d462982]{margin-top:16px;margin-bottom:16px}
