.intro[data-v-9167fa3c],.row[data-v-9167fa3c]{padding:8px}.row[data-v-9167fa3c]{display:grid;grid-template-columns:30ch 1fr}.header[data-v-9167fa3c],.type[data-v-9167fa3c]{font-weight:600}.type[data-v-9167fa3c]{color:#3a3f51}.subscription-header[data-v-0cbdfb03]{display:flex;gap:24px;padding-right:8px;padding-left:8px;font-weight:500}.instance-id[data-v-0cbdfb03]{flex-basis:50ch}.responses-sent-acknowledged[data-v-0cbdfb03]{color:#6c7489}
